* {
    box-sizing: border-box;
}

body {
    max-width: 8in;
    padding: .25in;
    margin: auto;
    margin-top: .25in;
    margin-bottom: .25in;
    background-color: #fff;
    border-radius: .25in;
    border: 1pt solid #42b883;
    font-family: Arial, sans-serif;
    h1 {
        text-align: center;
        margin: .1in;
        font-family: 'Times New Roman', Times, serif;
        sup {
            color: #42b883;
        }
    }
    div {
        &>ul {
            height: 4in;
            overflow-y: auto;
            border-top: 1pt solid #42b883;
            border-bottom: 1pt solid #42b883;
        }
    }
    a {
        text-decoration: none;
        color: #42b883;
    }
    li {
        list-style-type: none;
        padding: 0;
        &>p>button, &>p>a:first-child {
            display: inline-block;
            appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: none;
            font: inherit;
            border: none;
            width: .2in;
            text-align: center;
        }
    }
}
